

title
    {color : silver;
	font-size : 150%;
	background : white;
	text-align : center;
	}

body {
  background-color:rgb(115, 115, 160);
  background-attachment:fixed;
}

p{
	font-family: Arial, Helvetica, sans-serif;
	font-size:1.5em;
	
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-justify: inter-word;
  font-size:3em;
  margin-top:8%;
  margin-bottom:7%;
  margin-left:20%;
  margin-right:20%;
  border: double 3px black;
  background-color: rgb(207,232,220);
  padding:2%;
}



h2 {
  font-size:3em;
  margin-left:20%;
  margin-top:6%;
}

#nav{
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
}
#nav li {
  display: inline;
  margin:1%;
}
#nav li a { 
  font-size:2em;
  color: white;
  text-align: center;
  padding: 10% 2%;
  text-decoration: none;
}

.logo{
	display:block;
	margin:auto;
	height:10%;
	width:10%;
-webkit-box-shadow: 9.5px 10.5px 22.5px -4px rgba(0, 0, 0, 0.36);
-moz-box-shadow: 9.5px 10.5px 22.5px -4px rgba(0, 0, 0, 0.36);
box-shadow: 9.5px 10.5px 22.5px -4px rgba(0, 0, 0, 0.36);
}

.interface{
	display:block;
	margin:auto;
	height:30%;
	width:60%;
	border:solid 2px grey;
}


div {
  height:100%;
  background-color: rgb(207,232,220);
  padding: 1em;
  margin-right:20%;
  margin-left:20%;
  margin-top:5%;
  margin-bottom:5%;
  border:double;
  overflow: auto;
}


.logo:hover
   { 
  height:10%;
  width:10%;
  animation-name: bigger;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
   }
   
   
   
@keyframes bigger {
  from{width:10%;height:10%;-webkit-box-shadow: 9.5px 10.5px 22.5px -4px rgba(0, 0, 0, 0.36);-moz-box-shadow: 9.5px 10.5px 22.5px -4px rgba(0, 0, 0, 0.36);box-shadow: 9.5px 10.5px 22.5px -4px rgba(0, 0, 0, 0.36);}
  to{width:13%;height:13%;-webkit-box-shadow: 26px 23.5px 32px -4px rgba(0, 0, 0, 0.36);-moz-box-shadow: 26px 23.5px 32px -4px rgba(0, 0, 0, 0.36);box-shadow: 26px 23.5px 32px -4px rgba(0, 0, 0, 0.36);}
}