
title
    {color : silver;
	font-size : 150%;
	background : white;
	text-align : center;
	}

body {  background: rgb(65,144,196);
  background-color:rgb(115, 115, 160);
background-attachment:fixed;
background-size:cover;
  font: .9em/1.2 Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-justify: inter-word;
  font-size:3em;
  margin-top:8%;
  margin-bottom:7%;
  margin-left:20%;
  margin-right:20%;
  border: double 3px black;
  background-color: rgb(207,232,220);
  padding:2%;
}


.boxleft {
  float:left;
  margin:2%;
  width: 40%;
  height: 15%;
  background-color: rgb(207,232,220);
  padding: 1em;
  border:double;
}

.boxright {
  float:right;
  margin:2%;
  width: 40%;
  height: 15%;
  background-color: rgb(207,232,220);
  padding: 1em;
  border:double;
}

form {
  margin: auto;
  width: 50%;
  padding: 20px;
  
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}


input[type="submit"] {
  background-color: #baa5cf;
  color: black;
  margin-left:20%;
  padding: 20px 20% ;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #82699b;
}



