
title
    {color : silver;
	font-size : 150%;
	background : white;
	text-align : center;
	}

body {
  background-color:rgb(115, 115, 160);
  background-attachment:fixed;
}



p{
	font-family: Arial, Helvetica, sans-serif;
	font-size:1.5em;
	
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-justify: inter-word;
  font-size:3em;
  margin-top:8%;
  margin-bottom:7%;
  margin-left:20%;
  margin-right:20%;
  border: double 3px black;
  background-color: rgb(207,232,220);
  padding:2%;
}


h2 {
  font-size:3em;
  margin-left:20%;
  margin-top:6%;
}



div {
  height:100%;
  background-color: rgb(207,232,220);
  padding: 1em;
  margin-right:20%;
  margin-left:20%;
  margin-top:5%;
  margin-bottom:5%;
  border:double;
  overflow: auto;
}



.logo{
	display:block;
	margin:auto;
	height:25%;
	width:25%;
-webkit-box-shadow: 9.5px 10.5px 22.5px -4px rgba(0, 0, 0, 0.36);
-moz-box-shadow: 9.5px 10.5px 22.5px -4px rgba(0, 0, 0, 0.36);
box-shadow: 9.5px 10.5px 22.5px -4px rgba(0, 0, 0, 0.36);
}

form {
  margin: auto;
  width: 50%;
  padding: 20px;
  
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}


input[type="submit"] {
  background-color: #baa5cf;
  color: black;
  margin-left:20%;
  padding: 20px 20% ;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #82699b;
}
